:root {
    --giveaway-color: goldenrod;
    --command-color: navy;
    --reaction-color: darkgreen;
    --alert-color: maroon;
    --book-color: maroon;
}

body {
    margin: 0;
}

h2 {
    clear: both;
    margin-bottom: 5px;
}

h3 {
    margin: 10px 0 0 0;
}

li {
    margin: 3px 0;
}

input[type=number] {
    width: 5em;
    text-align: right;
}

.pseudo-link {
    cursor: pointer;
}

.info-banner-frame {
    margin-bottom: 10px;
    position: fixed;
    left: 10%;
    top: 10px;
    text-align: center;
    width: 80%;
}

.banner {
    display: none;
    padding: 0.3em;
    margin: 5px 0.8em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    font-size: 20px;
    border-radius: 7px;
}

#warning-banner {
    color: black;
    background-color: goldenrod;
}

#error-banner {
    color: white;
    background-color: red;
}

.small-icon {
    width: 1em;
    height: 1em;
}

.banner-icon {
    color: black;
    font-weight: bold;
    padding: 0 10px;
}

.save-button {
    position: absolute;
    top: 0;
    right: 0;
}

.user-image {
    height: 28px;
    width: 32px;
}

.hidden.hidden.hidden {
    display: none;
}

.secure {
    background-color: #FFDDDD;
}

.content {
    padding: 0 12px;
}

.label {
    border-radius: 4px;
    padding: 0 4px 0 4px;
    border: 0;
}

.help-paragraph {
    margin: 16px 0 0 0;
}

.icon-cell {
    width: 6em;
}

.icon {
    display: inline;
    width: 20px;
    height: 20px;
}

.alias-label {
    background-color: #BBDDFF;
}

.alias-delete:hover {
    background-color: white;
    color: black;
}

.event-label {
    background-color: #DDFFDD;
}

.event-delete:hover {
    background-color: white;
    color: black;
}

.alert-label {
    background-color: peachpuff;
}

.alert-delete:hover {
    background-color: white;
    color: black;
}

.pattern-label {
    background-color: peachpuff;
}

.pattern-delete:hover {
    background-color: white;
    color: black;
}

.navbar {
    border-bottom: black solid 1px;
}

.navbar .navitem.admin {
    background-color: maroon;
}

.navbar .navitem.admin a {
    color: whitesmoke;
}

.navbar .navitem.admin-user {
    color: maroon;
}

.twitch {
    border: #9146FF solid 1px;
    color: #9146FF;
    background-color: #F0F0FF !important;
}

.twitch:hover a {
    color: #F0F0FF;
    background-color: #9146FF !important;
}

.navbar li {
    float: left;
    color: black;
    text-align: center;
}

.navbar .navitem {
    border: black solid 1px;
    vertical-align: middle;
    display: block;
    padding: 3px 3px;
    margin: 6px 13px;
    height: 36px;
    line-height: 36px;
    min-width: 80px;
    background-color: silver;
}

.navbar .navicon {
    min-width: 40px;
}

.navitem img {
    position: center;
    vertical-align: middle;
}

.navbar .active {
    background-color: slategray;
}

.navbar .active a {
    color: white;
}

.navbar .active a:hover {
    background-color: darkslategray !important;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

.navbar .index {
    background-color: whitesmoke;
    border: 0;
}

.navbar .right {
    float: right;
}

.navbar li span {
    display: block;
}

.navbar li a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    text-decoration: none;
}

.navbar .navitem a:hover {
    /* Change the link color to #111 (black) on hover */
    background-color: dimgray;
    color: white;
}

.navbar .index a:hover {
    background-color: whitesmoke;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

.data-table td {
    padding: 2px 15px;
    border-collapse: collapse;
    border: 1px solid black;
}

.label-table {
    display: inline-block;
}

.label-table td {
    line-height: 20px;
    padding: 0 4px 0 4px;
    border-collapse: collapse;
    border: 0;
}

.home-status {
    font-size: xx-large;
    padding: 0 5px;
    margin: 10px;
    display: inline-block;
}

.home-control {
    font-size: xx-large;
    border: black solid 1px;
    padding: 0 5px;
    margin: 10px;
    display: inline-block;
}

.home-controls {
    border: black solid 1px;
    display: inline-block;
    float: left;
    margin: 7px;
}

.title-section {
    display: inline-block;
    margin-left: 10px;
}

.section {
    clear: left;
    display: inline-block;
}

.section-content {
    display: inline-block;
    position: relative;
    border: black solid 1px;
    padding: 7px;
    margin-bottom: 10px;
}

.add-statement {
    --add-button-size: 24px;
    margin: 12px;
}

.command {
    border: 3px solid var(--command-color);
}

.add-command {
    --add-button-size: 24px;
    --add-color: var(--command-color);
    margin: 12px;
}

.reaction {
    border: 3px solid var(--reaction-color);
}

.add-reaction {
    --add-button-size: 24px;
    --add-color: var(--reaction-color);
    margin: 12px;
}

.alert {
    border: 3px solid var(--alert-color);
}

.add-alert {
    --add-button-size: 24px;
    --add-color: var(--alert-color);
    margin: 12px;
}

.book {
    border: 3px solid var(--book-color);
}

.add-book {
    --add-button-size: 24px;
    --add-color: var(--book-color);
    margin: 12px;
}

.add-button {
    height: var(--add-button-size, 12px);
    width: var(--add-button-size, 12px);
    display: inline-block;
    background-color: white;
    color: var(--add-color, midnightblue);
    font-weight: bold;
    line-height: var(--add-button-size, 12px);
    text-align: center;
    border: solid 2px var(--add-color, midnightblue);
    border-radius: 50%;
}

.add-trigger-form {
}

.add-form {
    margin: 12px;
    padding: 12px;
    border: solid 2px var(--add-color, midnightblue);
}

.add-form label {
    margin: 4px 0 0 0;
    display: inline-block;
    font-weight: bold;
}

.add-form div {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5em;
}

.add-form input[type=submit] {
    margin: 12px 0 0 0;
    float: right;
}

.add-form input[type=text] {
    box-sizing: border-box;
    min-width: 50em;
}

input[type=text].name {
    box-sizing: border-box;
    min-width: 17em;
}

.add-giveaway {
    --add-button-size: 24px;
    --add-color: var(--giveaway-color);
    margin: 12px;
}

.giveaway {
    margin: 12px;
    padding: 12px;
    border: solid 3px var(--giveaway-color);
}

.giveaway label {
    display: inline-block;
    font-weight: bold;
}

.prize-table {
    border-color: darkred;
}

.add-prize {
    --add-button-size: 18px;
    --add-color: darkred;
    margin: 6px;
}

.raffle-table {
    border-color: darkblue;
}

.form-block {
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 3em;
}

.small-vertical-bottom-padding {
    margin-bottom: 5px;
}

.command-settings {
    padding: 0 10px;
    border: black solid 1px;
    border-radius: 5px;
}

.command-settings h3 {
    margin: 0;
}

.message-input {
    min-width: 50em;
}

.invite-form {
    display: inline-block;
    margin: 12px;
    padding: 12px;
    border: black solid 2px;
}

.invite-form td {
    padding: 3px 12px;
    border: black solid 1px;
}

.invite-form label {
    margin: 4px 0 0 0;
    display: inline-block;
    font-weight: bold;
}

.invite-form div {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5em;
}

.invite-form input[type=button] {
    display: block;
    margin: auto;
}

.invite-form input[type=text] {
    box-sizing: border-box;
    min-width: 10em;
}
