<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournaments</title>
    <div th:replace="fragments :: includes (description='Tournament List')"/>
</head>
<body>
    <div th:include="fragments :: header"/>
    <div class="content">
        <h1>Tournaments</h1>
        <th:block th:each="tournament : ${tournaments}">
            <a th:href="'/tournament/' + ${tournament.nickName}" th:text="${tournament.nickName}"></a><br>
        </th:block>
    </div>
    <div th:include="fragments :: footer"/>
</body>
</html>
