<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${tournament.nickName}"></title>
    <div th:replace="fragments :: includes (description='Round ' + ${tournament.round} + ' Scoreboard for '
        + ${tournament.nickName})"></div>
    <script type="text/javascript" src="/script/tournament.js"> </script>
</head>
<body onload="initTournament()">
    <div class="content">
        <h1 th:text="${tournament.nickName}"></h1>
        Round:<span class="wide-padded" th:text="${tournament.round}"></span>
        <a class="wide-padded" th:href="${tournament.pairingsUrl}" target="_blank">Pairings</a>
        <a class="wide-padded" th:href="${tournament.standingsUrl}" target="_blank">Full Standings</a>
        <a class="wide-padded" th:href="${tournament.decklistUrl}" target="_blank">All Decklists</a>
        <hr>

        <div th:if="${!tournament.hasStarted()}">
            The tournament has not started yet. It will begin in <span th:text="${tournament.timeUntilStart}"></span>.
        </div>
        <div th:if="${tournament.hasStarted()}">
            <div class="left bordered">
                <h3>Records</h3>
                <ul>
                    <th:block th:each="recordCount : ${tournament.standings.getRecordCounts(4)}">
                        <li th:text="${recordCount.record} + ': ' + ${recordCount.count} + ' Players'"></li>
                    </th:block>
                </ul>
            </div>

            <div class="left small-padded">
                <div>
                    <h2 class="title left">Players</h2>
                    <div class="right">
                        <button id="select-players-button" onclick="startSelecting(); return true;">
                            Select Players to Follow
                        </button>
                        <button id="done-selecting-players-button" class="hidden" onclick="showSelected(); return true;">
                            Done
                        </button>
                    </div>
                </div>

                <table id='player-table' th:with="players=${tournament.players}">
                    <col>
                    <col>
                    <col id="follow-column" class="collapsed">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <thead><tr>
                        <th class="pad-horizontal">Rank</th>
                        <th class="pad-horizontal">Record</th>
                        <th class="pad-horizontal">Follow</th>
                        <th class="pad-horizontal">Player</th>
                        <th class="pad-horizontal">Socials</th>
                        <th class="pad-horizontal">Deck</th>
                        <th class="pad-horizontal">Opponent</th>
                        <th class="pad-horizontal" th:if="${players.size() > 0 && players.get(0).opponentsDecklist != null}">
                            Opponent's Deck
                        </th>
                    </tr></thead>

                    <th:block th:each="ps, stat : ${players}">
                        <tr th:attr="data-arena-name=${ps.player.arenaName},data-leader=${ps.leader},data-points=${ps.record.points}"
                            th:classappend="${!ps.important && !ps.leader} ? 'collapsed'">
                            <td class="pad-horizontal" th:text="${ps.rank}"></td>
                            <td class="pad-horizontal" th:text="${ps.record}"></td>
                            <td class="center"><input type="checkbox" th:checked="${ps.important}"></td>
                            <td th:text="${ps.player.name}"></td>
                            <td>
                                <a th:if="${ps.player.twitchName}" target="_blank"
                                   th:href="'https://www.twitch.tv/' + ${ps.player.twitchName}"><img class="icon" src="/images/twitch.ico"></a>

                                <a th:if="${ps.player.twitterName}" target="_blank"
                                   th:href="'https://www.twitter.com/' + ${ps.player.twitterName}"><img class="icon" src="/images/twitter.ico"></a>
                            </td>
                            <td class="pad-horizontal"><a th:if="${ps.decklist}" th:href="${ps.decklist.url}"
                                   th:text="${ps.decklist.name}" target="_blank"></a></td>
                            <td class="pad-horizontal" th:text="${ps.opponent != null ? ps.opponent.name : ''}"></td>
                            <td class="pad-horizontal" th:if="${ps.opponentsDecklist}">
                                <a th:href="${ps.opponentsDecklist.url}" th:text="${ps.opponentsDecklist.name}"
                                   target="_blank"></a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
    <div th:include="fragments :: footer"/>
</body>
</html>