<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error Page</title>
        <div th:replace="fragments :: includes" />
    </head>
    <body>
        <div th:include="fragments :: header" />
        <div class="content">
            <h1>Something went wrong! </h1>
            <p th:text="${error_message}"/>
            <p th:if="${stack_trace != null}" th:text="${stack_trace}"/>
        </div>
        <div th:include="fragments :: footer" />
    </body>
</html>
