<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Administration</title>
        <div th:include="fragments :: includes"/>
    </head>
    <body>
        <div th:include="fragments :: header"/>
        <span class="content">
            <h1>Admin</h1>

            <h2>Operations</h2>
            <button onclick="runAdminTask()">Run Task</button><span id="run-task-response"/>

            <h2>Users</h2>
            <div id="merge-users" style="display: none">
                <button onclick="mergeUsers()">Merge Users</button>
                <span id="merge-users-response"/>
            </div>
            <table class="data-table">
                <thead><tr>
                    <th>Id</th>
                    <th>Twitch Name</th>
                    <th>Twitch Id</th>
                    <th>Discord Name</th>
                    <th>Discord Id</th>
                    <th>Arena Name</th>
                    <th>Admin</th>
                    <th>Select</th>
                </tr></thead>
                <th:block th:each="user : ${users}" th:with="label=${'user-' + user.id}">
                    <tr th:id="${label} + '-row'">
                        <td th:text="${user.id}"/>
                        <td th:id="${label} + '-twitch-username'" th:text="${user.twitchUsername}"/>
                        <td th:id="${label} + '-twitch-id'" th:text="${user.twitchId}"/>
                        <td th:id="${label} + '-discord-username'" th:text="${user.discordUsername}"/>
                        <td th:id="${label} + '-discord-id'" th:text="${user.discordId}"/>
                        <td>
                            <span th:id="${label} + '-arena-username'" th:text="${user.arenaUsername}"/>
                            <span th:id="${label} + '-arena-username-delete-icon'"
                                  class="pseudo-link" th:onclick="'deleteArenaUsername(' + ${user.id} + ')'">
                                <span th:if="${user.arenaUsername}">&#x1F5D1;</span>
                            </span>
                        </td>
                        <td th:id="${label} + '-admin'" th:text="${user.admin ? '&#x1F477;' : ''}"/>
                        <td><input type="checkbox" th:onchange="'selectUser(event, ' + ${user.id} + ')'"/></td>
                    </tr>
                </th:block>
            </table>

            <h2>Command Suggestions</h2>
            <table class="data-table">
                <thead><tr>
                    <th>Command</th>
                    <th>Count</th>
                </tr></thead>
                <th:block th:each="suggestion : ${suggestions}">
                    <tr>
                        <td th:text="${suggestion.alias}"/>
                        <td th:text="${suggestion.count}"/>
                    </tr>
                </th:block>
            </table>

            <h2>Memory</h2>
            <ul>
                <li th:text="'Total: ' + ${total_memory}"/>
                <li th:text="'used: ' + ${used_memory}"/>
                <li th:text="'free: ' + ${free_memory}"/>
            </ul>
        </div>
        <div th:include="fragments :: footer"/>
    </body>
</html>
