<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book</title>
    <div th:include="fragments :: includes" />
    <script th:if="${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}"
            type="text/javascript" src="/script/privledged.js"></script>
</head>
<body th:with="privledged=${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}">
    <div th:include="fragments :: header" />
    <div class="content">
        <h1 th:text="${book.name}"/>
        <table th:id="'book-' + ${book.id} + '-table'" class="data-table">
            <thead><tr>
                <th>Text</th>
                <th th:if="${privledged}">Delete</th>
            </tr></thead>
            <th:block th:each="statement : ${book.statements}" th:with="label=${'statement-' + statement.id}">
                <tr th:id="${label} + '-row'">
                    <td th:if="${privledged}">
                        <div th:id="${label} + '-display'">
                            <span th:text="${statement.text}" th:id="${label} + '-value'"/>
                            <span class="pseudo-link" th:onclick="'editStatement(' + ${statement.id} + ')'">
                                &#x270F;&#xFE0F;
                            </span>
                        </div>
                        <div th:id="${label} + '-edit'" class="hidden">
                            <input type="text" th:value="${statement.text}" th:size="${statement.text.length()}"
                                   th:id="${label} + '-input'"/>
                            <span class="pseudo-link" th:onclick="'modifyStatement(' + ${botHome.id} + ', '
                                                          + ${book.id} + ', ' + ${statement.id} + ')'">
                                &#x1F4BE;
                            </span>
                        </div>
                    </td>
                    <td th:if="${!privledged}" th:text="${statement.text}"/>
                    <td th:if="${privledged}" class="pseudo-link" th:onclick=
                            "'deleteStatement(' + ${botHome.id} + ', ' + ${book.id} + ', '+ ${statement.id} + ')'">
                        &#x1F5D1;&#xFE0F;
                    </td>
                </tr>
            </th:block>
        </table>
        <div th:if="${privledged}" class="add-statement">
            <div id="add-statement-button" class="pseudo-link add-button" onclick="showAddStatementForm()"
                title="Add a statement">+</div>
            <form id="add-statement-form" class="hidden add-form"
                  th:onsubmit="'addStatement(' + ${botHome.id} + ', ' + ${book.id} + '); return false;'">
                    <label>Text</label><BR>
                    <input id="add-statement-text-input" type="text" name="statement"><BR>
                    <input type="submit" value="Submit Statement">
            </form>
        </div>
    </div>
    <div th:include="fragments :: footer" />
</body>
</html>
