<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${botHome.name}"/>
    <div th:replace="fragments :: includes" />
    <script th:if="${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}"
            type="text/javascript" src="/script/privileged.js"></script>
</head>
<body th:with="moderator=${user.roles.contains('ROLE_MOD:' + botHome.id)},
      streamer=${user.roles.contains('ROLE_STREAMER:' + botHome.id)},
      privileged=${user.admin || moderator},
      exalted=${user.admin || streamer}" onload="initializeSettings()">
<div th:include="fragments :: header" />
<div class="content">
    <h1 th:text="'Settings for ' + ${botHome.name}"/>

    <div th:if="${exalted}">
        <div class="home-controls">
            <span class="home-status" id="status"
                  th:text="${botHome.active ? '&#x2714;&#xFE0F' : botHome.stopped ? '&#x274C;' : '&#x1F504;'}"
                  th:title="${botHome.active ? 'Active' : botHome.stopped ? 'Stopped' : 'Restarting'}"/>
            <span id="play-button" class="pseudo-link home-control" th:onclick="'startHome(' + ${botHome.id} + ')'"
                  title="Restart Bot">
                    &#x25B6;
            </span>
            <span id="stop-button" class="pseudo-link home-control" th:onclick="'stopHome(' + ${botHome.id} + ')'"
                  th:style="'display: ' + ${botHome.active ? 'inline-block' : 'none'}" title="Stop Bot">
                    &#x23F9;
            </span>
        </div>

        <h2>Links</h2>
        <ul style="float: left;">
            <li><a href=".">Commands</a></li>
            <li><a href="hub">Moderation Hub</a></li>
            <li><a href="users">Users</a></li>
            <li><a href="giveaways">Giveaways</a></li>
        </ul>

        <h2>Settings</h2>
        <ul>
            <li><div th:include="bot_home_fragments :: bot_name"/></li>
            <li><div th:include="bot_home_fragments :: time_zone"/></li>
        </ul>

        <h2>Emote Links</h2>
        <table id="emote-link-table" class="data-table">
            <thead><tr>
                <th>Twitch</th>
                <th>Discord</th>
                <th>Delete</th>
            </tr></thead>
            <th:block th:each="emoteLink : ${botHome.emoteLinks}">
                <tr th:id="'emote-link-' + ${emoteLink.id} + '-row'">
                    <td th:text="${emoteLink.twitchEmote}"></td>
                    <td th:text="${emoteLink.discordEmote}"></td>
                    <td class="pseudo-link"
                        th:onclick="'deleteEmoteLink(' + ${botHome.id} + ',' + ${emoteLink.id} + ')'">
                        &#x1F5D1;&#xFE0F;
                    </td>
                </tr>
            </th:block>
        </table>
        <div class="add-emote-link">
            <div id="add-emote-link-button" class="pseudo-link add-button" onclick="showAddEmoteLinkForm()"
                 title="Add an emote link">+</div>
            <form id="add-emote-link-form" class="add-form hidden"
                  th:onsubmit="'addEmoteLink(' + ${botHome.id} + '); return false;'">

                <div id="add-emote-link-twitch-emote-div">
                    <label id="add-emote-link-twitch-emote-label">Twitch Emote</label><br>
                    <select id='add-emote-link-twitch-emote-input' onchange="updateAddEmoteLinkTwitchEmoteImage()">
                        <th:block th:each="emote, status : ${botHome.getTwitchServiceHome().getEmotes()}">
                            <option th:value="${emote.name}" th:text="${emote.name}" th:selected="${status.index == 0}"
                                th:attr="data-url=${emote.imageUrl}">
                            </option>
                        </th:block>
                    </select><br>
                    <img class="emote" id="add-emote-link-twitch-emote-image">
                </div>
                <div id="add-emote-link-discord-emote-div">
                    <label id="add-emote-link-discord-emote-label">Discord Emote</label><br>
                    <select id='add-emote-link-discord-emote-input' onchange="updateAddEmoteLinkDiscordEmoteImage()">
                        <th:block th:each="emote, status : ${botHome.getDiscordServiceHome().getEmotes()}">
                            <option th:value="${emote.name}" th:text="${emote.name}" th:selected="${status.index == 0}"
                                th:attr="data-url=${emote.imageUrl}">
                            </option>
                        </th:block>
                    </select><br>
                    <img class="emote" id="add-emote-link-discord-emote-image">
                </div><br>
                <input type="submit" value="Create Emote Link">
            </form>
        </div>
    </div>
</div>
<div th:include="fragments :: footer" />
</body>
</html>
