<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${botHome.name}"/>
    <div th:replace="fragments :: includes" />
    <script th:if="${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}"
            type="text/javascript" src="/script/privileged.js"></script>
</head>
<body th:with="privileged=${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)},
      streamer=${user.roles.contains('ROLE_STREAMER:' + botHome.id)},
      exalted=${user.admin || streamer}">
    <div th:include="fragments :: header" />
    <div class="content">
        <h1 th:text="'Moderation Hub for ' + ${botHome.name}"/>

        <div th:if="${privileged}">
            <h2>Links</h2>
            <ul style="float: left;">
                <li><a href=".">Commands</a></li>
                <li th:if="${exalted}"><a href="settings">Settings</a></li>
                <li><a href="users">Users</a></li>
                <li><a href="giveaways">Giveaways</a></li>
                <li><a href="chat_draft">Chat Draft</a></li>
            </ul>
        </div>

        <div th:include="bot_home_fragments :: services"/>

        <div th:include="bot_home_fragments :: books (container=${botHome})"/>

        <div th:include="bot_home_fragments :: reactions"/>

        <div th:include="bot_home_fragments :: roles"/>

        <div th:include="bot_home_fragments :: alerts"/>

        <div th:include="bot_home_fragments :: storage_values"/>
    </div>
    <div th:include="fragments :: footer" />
</body>
</html>
