<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bot home</title>
    <div th:replace="fragments :: includes" />
    <script th:if="${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}"
            type="text/javascript" src="/script/privileged.js"></script>
</head>
<body th:with="privileged=${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}">
    <div th:include="fragments :: header" />
    <div class="content">
        <h1 th:text="'Channel ' + ${botHome.name}" />
        <div th:if="${privileged}">
            <h2>Links</h2>
            <ul>
                <li><a th:href="'/home/' + ${botHome.name} + '/hub'">Moderation Hub</a></li>
                <li><a th:href="'/home/' + ${botHome.name} + '/users'">Users</a></li>
                <li><a th:href="'/home/' + ${botHome.name} + '/giveaways'">Giveaways</a></li>
            </ul>
        </div>

        <div th:include="bot_home_fragments :: services"/>

        <h2 th:if="${!botHome.gameQueues.empty}">Game Queues</h2>
        <th:block th:each="queue : ${botHome.gameQueues}">
            <div th:if="${queue.state != T(com.ryan_mtg.servobot.model.game_queue.GameQueue.State).IDLE}">
                <h3 th:text="${queue.name} + ': ' + ${queue.state}"/>
                <div th:text="'Current Player: ' + ${userTable.getById(queue.currentPlayerId).name}"/>
                <br>
                <div th:if="${queue.fullQueue.empty}">The queue is empty.</div>

                <table class="data-table" th:if="${!queue.fullQueue.empty}">
                    <thead><tr>
                        <th>Position</th>
                        <th>Player</th>
                        <th>Spot</th>
                    </tr></thead>
                    <th:block th:each="entry : ${queue.fullQueue}">
                        <tr>
                            <td th:text="${entry.position}"/>
                            <td th:text="${userTable.getById(entry.userId).twitchUsername}"/>
                            <td th:text="${entry.spot}"/>
                        </tr>
                    </th:block>
                </table>
            </div>
        </th:block>

        <div th:include="bot_home_fragments :: users (title='Moderators')"/>

        <div th:include="bot_home_fragments :: commands (container=${botHome}, contextId=${botHome.id})"/>
    </div>
    <div th:include="fragments :: footer" />
</body>
</html>
