<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${botHome.name}"/>
    <div th:include="fragments :: includes" />
    <script th:if="${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}"
            type="text/javascript" src="/script/privledged.js"></script>
</head>
<body th:with="privledged=${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}">
    <div th:include="fragments :: header" />
    <div class="content">
        <h1 th:text="'Moderation Hub for ' + ${botHome.name}"/>
        <div th:if="${privledged}">
            <div class="home-controls">
                <span class="home-status" id="status" th:text="${botHome.active ? '&#x2714;&#xFE0F' : '&#x274C;'}"
                th:title="${botHome.active ? 'Active' : 'Idle'}"/>
                <span id="play-button" class="pseudo-link home-control" th:onclick="'startHome(' + ${botHome.id} + ')'"
                        title="Restart Bot">
                    &#x25B6;
                </span>
                <span id="stop-button" class="pseudo-link home-control" th:onclick="'stopHome(' + ${botHome.id} + ')'"
                      th:style="'display: ' + ${botHome.active ? 'inline-block' : 'none'}" title="Stop Bot">
                    &#x23F9;
                </span>
            </div>
            <ul style="float: left;">
                <li th:text="'Id ' + ${botHome.id}"></li>
                <li>Time Zone
                    <select th:onchange="'updateTimeZone(event, ' + ${botHome.id} + ', \'time-zone-updated\')'">
                        <th:block th:each="timeZone : ${timeZones}">
                            <option th:value="${timeZone.value}" th:text="${timeZone.display}"
                                    th:selected="${timeZone.value == botHome.timeZone}"/>
                        </th:block>
                    </select> <span id="time-zone-updated" />
                </li>
                <li><a href="users">Users</a></li>
            </ul>
        </div>

        <div th:include="bot_home_fragments :: services"/>

        <div th:include="bot_home_fragments :: commands"/>

        <div th:include="bot_home_fragments :: reactions"/>

        <div th:include="bot_home_fragments :: alerts"/>

        <div th:include="bot_home_fragments :: books"/>
    </div>
    <div th:include="fragments :: footer" />
</body>
</html>
