<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>
<body>
    <!-- services -->
    <div th:fragment="services">
        <h2>Services</h2>
        <table class="data-table">
            <thead><tr>
                <th>Service</th>
                <th>Details</th>
            </tr></thead>
            <th:block th:each="serviceHomeEntry : ${botHome.serviceHomes}">
                <tr th:object="${serviceHomeEntry.value}">
                    <td th:text="*{service.name}"/>
                    <td th:if="*{link != null}">
                        <a th:href="*{link}" th:text="*{description}" target="_blank"/>
                    </td>
                    <td th:if="*{link == null}" th:text="*{description}"/>
                </tr>
            </th:block>
        </table>
    </div>

    <!-- users -->
    <div th:fragment="users (title)">
        <h2 th:text="${title}"/>
        <table class="data-table">
            <thead><tr>
                <th>Twitch Name</th>
                <th>Discord Name</th>
                <th>Arena Name</th>
                <th>Roles</th>
            </tr></thead>
            <th:block th:each="homedUser : ${users}">
                <tr>
                    <td th:text="${homedUser.twitchUsername}"/>
                    <td th:text="${homedUser.discordUsername}"/>
                    <td th:text="${homedUser.arenaUsername}"/>
                    <td>
                        <span title="Member" th:text="${homedUser.member ? '&#x1F464;' : ''}"/>
                        <span title="Moderator" th:text="${homedUser.moderator ? '&#x1F46E;' : ''}"/>
                        <span title="Subscriber" th:text="${homedUser.subscriber ? '&#x1F911;' : ''}"/>
                        <span title="VIP" th:text="${homedUser.vip ? '&#x1F929;' : ''}"/>
                        <span title="Streamer" th:text="${homedUser.streamer ? '&#x1F9D9;' : ''}"/>
                        <span title="Admin" th:if="${user.admin}" th:text="${homedUser.admin ? '&#x1F477;' : ''}"/>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>

    <!-- commands -->
    <div th:fragment="commands">
        <h2>Commands</h2>
        <table id="command-table" class="command data-table">
            <thead><tr>
                <th th:if="${privileged}">Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>Triggers</th>
                <th>Options</th>
                <th>Permissions</th>
                <th th:if="${privileged}">Delete</th>
            </tr></thead>
            <th:block th:each="descriptor : ${commandDescriptors}" th:with="command=${descriptor.command}">
                <tr th:if="${!command.secure || privileged}" th:with="label=${'command-' + command.id}"
                    th:id="${label + '-row'}" th:classappend="${command.secure ? 'secure ' : ''}">

                    <td th:if="${privileged}" th:text="${command.id}"/>
                    <td th:text="${descriptor.type}"/>
                    <td th:text="${descriptor.description}"/>
                    <td>
                        <span th:id="'alias-triggers-' + ${command.id}">
                            <th:block th:each="alias : ${descriptor.aliases}">
                                <span th:if="${!privileged}" class="alias-label label" th:text="${alias.alias}"/>
                                <table th:if="${privileged}" class="alias-label label label-table"
                                       th:id="${'trigger-' + alias.id}">
                                    <tr>
                                        <td th:text="${alias.alias}"/>
                                        <td class="pseudo-link alias-delete"
                                            th:onclick="'deleteTrigger(' + ${botHome.id} + ',' + ${alias.id} + ')'">x</td>
                                    </tr>
                                </table>
                            </th:block>
                        </span>

                        <span th:id="'event-triggers-' + ${command.id}">
                            <th:block th:each="event : ${descriptor.events}">
                                <span th:if="${!privileged}" class="event-label label" th:text="${event.eventType}"/>
                                <table th:if="${privileged}" class="event-label label label-table"
                                       th:id="${'trigger-' + event.id}">
                                    <tr>
                                        <td th:text="${event.eventType}"/>
                                        <td class="pseudo-link event-delete"
                                            th:onclick="'deleteTrigger(' + ${botHome.id} + ',' + ${event.id} + ')'">x</td>
                                    </tr>
                                </table>
                            </th:block>
                        </span>

                        <span th:id="'alert-triggers-' + ${command.id}">
                            <th:block th:each="alert : ${descriptor.alerts}">
                                <span th:if="${!privileged}" class="alert-label label" th:text="${alert.alertToken}"/>
                                <table th:if="${privileged}" class="alert-label label label-table"
                                       th:id="${'trigger-' + alert.id}">
                                    <tr>
                                        <td th:text="${alert.alertToken}"/>
                                        <td class="pseudo-link alert-delete"
                                            th:onclick="'deleteTrigger(' + ${botHome.id} + ',' + ${alert.id} + ')'">x</td>
                                    </tr>
                                </table>
                            </th:block>
                        </span>

                        <span class="add-trigger" th:with="label=${'add-trigger-' + command.id}">
                            <div th:if="${privileged}" th:id="${label} + '-button'" class="pseudo-link add-button"
                                 th:onclick="'showAddTriggerForm(' + ${command.id} + ')'" title="Add a trigger">
                                +
                            </div>
                            <form th:id="${label} + '-form'" class="add-trigger-form hidden"
                                  th:onsubmit="'addTrigger(' + ${botHome.id} + ', ' + ${command.id} + '); return false;'">
                                <input th:id="${label} + '-text-input'" type="text" name="trigger" size="9">
                                <select th:id="${label} + '-event-input'" hidden>
                                    <th:block th:each="event : ${events}">
                                        <option th:value="${event}" th:text="${event}"
                                                th:selected="${event == 'STREAM_START'}"/>
                                    </th:block>
                                </select>
                                <select th:id="${label} + '-type-input'"
                                        th:onchange="'updateAddTriggerType(' + ${command.id} + ')'">
                                    <option value="1" selected>Message</option>
                                    <option value="2">Event</option>
                                    <option value="3">Alert</option>
                                </select>
                                <input type="submit" value="+">
                            </form>
                        </span>
                    </td>

                    <td class="icon-cell">
                        <span th:id="${label} + '-secured'" th:if="${privileged}" class="pseudo-link"
                              th:onclick="'secureCommand(' + ${botHome.id} + ', ' + ${command.id} + ')'"
                              th:text="${command.secure ? '&#x1F512;' : '&#x1F511;'}"/>
                        <span th:id="${label} + '-secure-response'"/>

                        <span th:id="${label} + '-while-streaming'" th:if="${privileged}" class="pseudo-link"
                              th:onclick="'setOnlyWhileStreaming(' + ${botHome.id} + ', ' + ${command.id} + ')'"
                              th:title="${command.onlyWhileStreaming ? 'Allow only while streaming' : 'Allow anytime'}"
                              th:text="${command.onlyWhileStreaming ? '&#x1F4FA;' : '&#x1F570;&#xFE0F;'}"/>
                        <span th:id="${label} + '-while-streaming-response'"/>
                        <span th:if="${!privileged}" class="icon"
                              th:text="${command.onlyWhileStreaming ? '&#x1F4FA;' : '&#x1F570;&#xFE0F;'}"/>

                        <span th:id="${label} + '-twitch'" th:if="${privileged}" class="pseudo-link"
                              th:onclick="'toggleCommandTwitch(' + ${botHome.id} + ', ' + ${command.id} + ')'">
                            <img th:id="${label} + '-twitch-img'" class="icon" title="Toggle Twitch use"
                                 th:src="${command.twitch ? '/images/twitch.ico' : '/images/no-twitch.ico'}">
                            <span th:id="${label} + '-twitch-response'"/>
                        </span>
                        <img th:if="${!privileged}" class="icon"
                             th:src="${command.twitch ? '/images/twitch.ico' : '/images/no-twitch.ico'}">

                        <span th:id="${label} + '-discord'" th:if="${privileged}" class="pseudo-link"
                              th:onclick="'toggleCommandDiscord(' + ${botHome.id} + ', ' + ${command.id} + ')'">
                            <img th:id="${label} + '-discord-img'" class="icon" title="Toggle Discord use"
                                 th:src="${command.discord ? '/images/discord.ico' : '/images/no-discord.ico'}">
                            <span th:id="${label} + '-discord-response'"></span>
                        </span>
                        <img th:if="${!privileged}" class="icon"
                             th:src="${command.discord ? '/images/discord.ico' : '/images/no-discord.ico'}">
                    </td>

                    <td th:if="${!privileged}" th:text="${command.permission}"></td>
                    <td th:if="${privileged}">
                        <select th:onchange="'updateCommandPermission(event, ' + ${botHome.id} + ', ' + ${command.id} + ')'">
                            <th:block th:each="permission : ${permissions}">
                                <option th:value="${permission}" th:text="${permission}"
                                        th:selected="${permission == command.permission}"/>
                            </th:block>
                        </select>
                        <span th:id="${label}+ '-permission-updated'"/>
                    </td>

                    <td th:if="${privileged}" class="pseudo-link"
                        th:onclick="'deleteCommand(' + ${botHome.id} + ',' + ${command.id} + ')'">
                        &#x1F5D1;&#xFE0F;
                    </td>
                </tr>
            </th:block>
        </table>

        <div th:if="${privileged}" class="add-command">
            <div id="add-command-button" class="pseudo-link add-button" onclick="showAddCommandForm()"
                 title="Add a command">+</div>
            <form id="add-command-form" class="add-form hidden"
                  th:onsubmit="'addCommand(' + ${botHome.id} + '); return false;'">
                <div id="add-command-type-div">
                    <label>Command Type</label><br>
                    <select id='add-command-type-input' onchange="changeAddCommandType(this)">
                        <option value="1" selected>Respond Command</option>
                        <option value="2" th:if="${!botHome.bookTable.empty}">Random Statement Command</option>
                        <option value="4">Message Channel Command</option>
                        <option value="5">Add Command</option>
                        <option value="6">Delete Command</option>
                        <option value="15">Add Statement Command</option>
                        <option value="19">Math Command</option>
                        <option value="17" th:if="${!botHome.storageTable.empty}">Show Value Command</option>
                        <option value="18" th:if="${!botHome.storageTable.empty}">Set Value Command</option>
                        <option value="16">Delayed Alert Command</option>
                        <option value="7" th:if="${!botHome.gameQueues.empty}">Game Queue Command</option>
                        <option value="9" th:if="${!botHome.gameQueues.empty}">Show Game Queue Command</option>
                        <option value="8" th:if="${!botHome.gameQueues.empty}">Join Game Queue Command</option>
                        <option value="10" th:if="${!botHome.gameQueues.empty}">Remove From Game Queue Command</option>
                        <option value="32">Card Search Command</option>
                        <option value="31">Scryfall Search Command</option>
                        <option value="11">Set Arena Username Command</option>
                        <option value="12">Show Arena Usernames Command</option>
                        <option value="3">Friendship Tier Command</option>
                        <option value="13">Set Role Command</option>
                        <option value="27">Set User's Role Command</option>
                        <option value="14">Set Status Command</option>
                        <option value="24">Add Reaction Command</option>
                        <option th:if="${user.admin}" value="25">Jail Command</option>
                        <option th:if="${user.admin}" value="26">Jail Break Command</option>
                        <option th:if="${user.admin}" value="29">Jail Release Command</option>
                        <option th:if="${user.admin}" value="30">Arrest Command</option>
                    </select><br>
                </div>
                <div id="add-command-permissions-div">
                    <label>Permissions</label><br>
                    <select id="add-command-permissions-input">
                        <th:block th:each="permission, status : ${permissions}">
                            <option th:value="${permission}" th:text="${permission}" th:selected="${status.last}"/>
                        </th:block>
                    </select><br>
                </div>
                <div id="add-command-secure-div">
                    <label>Hide</label><br>
                    <input type="checkbox" id="add-command-secure-input"><br>
                </div>
                <br id="add-command-break">
                <div id="add-command-text-div">
                    <label id="add-command-text-label">Text</label><br>
                    <input id="add-command-text-input" type="text" name="text"><br>
                </div><br id="add-command-break-2" class="hidden">
                <div id="add-command-text-2-div" class="hidden">
                    <label id="add-command-text-2-label">Text 2</label><br>
                    <input id="add-command-text-2-input" type="text" name="text-2"><br>
                </div><br id="add-command-break-3" class="hidden">
                <div id="add-command-integer-div" class="hidden">
                    <label id="add-command-integer-label">Integer</label><br>
                    <input id="add-command-integer-input" type="number" name="text" step="1"><br>
                </div>
                <div id="add-command-time-div" class="hidden">
                    <label id="add-command-time-label">Integer</label><br>
                    <input id="add-command-time-input" type="time" name="time" min="00:00" max="23:59" step="1"><br>
                </div>
                <div id="add-command-book-div" class="hidden">
                    <label id="add-command-book-label">Book</label><br>
                    <select id="add-command-book-input">
                        <th:block th:each="book : ${botHome.bookTable}">
                            <option th:value="${book.id}" th:text="${book.name}"/>
                        </th:block>
                    </select><br>
                </div>
                <div id="add-command-role-div" class="hidden">
                    <label id="add-command-role-label">Role</label><br>
                    <select id='add-command-role-input'>
                        <th:block th:each="role, status : ${roles}">
                            <option th:value="${role}" th:text="${role}" th:selected="${status.index == 0}"/>
                        </th:block>
                    </select>
                </div>
                <div id="add-command-emote-div" class="hidden">
                    <label id="add-command-emote-label">Emote</label><br>
                    <select id='add-command-emote-input'>
                        <th:block th:each="emote, status : ${emotes}">
                            <option th:value="${emote}" th:text="${emote}" th:selected="${status.index == 0}"/>
                        </th:block>
                    </select>
                </div>
                <div id="add-command-game-queue-div" class="hidden">
                    <label id="add-command-game-queue-label">Game Queue</label><br>
                    <select id="add-command-game-queue-input">
                        <th:block th:each="queue : ${botHome.gameQueues}">
                            <option th:value="${queue.id}" th:text="${queue.name}"/>
                        </th:block>
                    </select><br>
                </div>
                <div id="add-command-service-div" class="hidden">
                    <label id="add-command-service-label">Service</label><br>
                    <select id="add-command-service-input">
                        <th:block th:each="serviceHomeEntry : ${botHome.serviceHomes}" th:object="${serviceHomeEntry.value}">
                            <option th:value="*{service.type}" th:text="*{service.name}"/>
                        </th:block>
                    </select>
                </div>
                <input type="submit" value="Create Command">
            </form>
        </div>
    </div>

    <!-- reactions -->
    <div th:fragment="reactions">
        <h2>Reactions</h2>
        <table id="reaction-table" class="reaction data-table">
            <thead><tr>
                <th>Emoji</th>
                <th>Reaction Trigger Words</th>
                <th th:if="${privileged}">Secure</th>
                <th th:if="${privileged}">Delete</th>
            </tr></thead>
            <th:block th:each="reaction : ${botHome.reactionTable.reactions}">
                <tr th:if="${!reaction.secure || privileged}" th:with="label=${'reaction-' + reaction.id}"
                    th:classappend="${reaction.secure ? 'secure ' : ' '}" th:id="${label + '-row'}">
                    <td th:text="${reaction.emoteName}"/>
                    <td>
                        <span th:id="'patterns-' + ${reaction.id}">
                            <th:block th:each="pattern : ${reaction.patterns}">
                                <span th:if="${!privileged}" class="pattern-label label" th:text="${pattern.patternString}"/>
                                <table th:if="${privileged}" class="pattern-label label label-table"
                                       th:id="${'pattern-' + pattern.id}">
                                    <tr>
                                        <td th:text="${pattern.patternString}"/>
                                        <td class="pseudo-link pattern-delete"
                                            th:onclick="'deletePattern(' + ${botHome.id} + ', '
                                            + ${reaction.id} + ', ' + ${pattern.id} + ')'">x</td>
                                    </tr>
                                </table>
                            </th:block>
                        </span>

                        <span class="add-pattern" th:with="label=${'add-pattern-' + reaction.id}">
                            <div th:if="${privileged}" th:id="${label} + '-button'" class="pseudo-link add-button"
                                 th:onclick="'showAddPatternForm(' + ${reaction.id} + ')'" title="Add a pattern">
                                +
                            </div>
                            <form th:id="${label} + '-form'" class="add-pattern-form hidden"
                                  th:onsubmit="'addPattern(' + ${botHome.id} + ', ' + ${reaction.id} + '); return false;'">
                                <input th:id="${label} + '-text-input'" type="text" name="pattern">
                                <input type="submit" value="+">
                            </form>
                        </span>
                    </td>

                    <td th:if="${privileged}" th:attr="data-label=${label}" class="pseudo-link"
                        th:onclick="'secureReaction(' + ${botHome.id} + ', ' + ${reaction.id} + ')'">
                            <span th:class="${label} + '-secured'"
                                  th:text="${reaction.secure ? '&#x1F512;' : '&#x1F511;'}"/>
                        <span th:class="${label} + '-secure-response'"/>
                    </td>

                    <td th:if="${privileged}" class="pseudo-link"
                        th:onclick="'deleteReaction(' + ${botHome.id} + ',' + ${reaction.id} + ')'">
                        &#x1F5D1;&#xFE0F;
                    </td>
                </tr>
            </th:block>
        </table>

        <div th:if="${privileged && !emotes.empty}" class="add-reaction">
            <div id="add-reaction-button" class="pseudo-link add-button" onclick="showAddReactionForm()"
                 title="Add a reaction">+</div>
            <form id="add-reaction-form" class="add-form hidden"
                  th:onsubmit="'addReaction(' + ${botHome.id} + '); return false;'">
                <div>
                    <label>Reaction Emote</label><br>
                    <select id='add-reaction-emote-input'>
                        <th:block th:each="emote, status : ${emotes}">
                            <option th:value="${emote}" th:text="${emote}" th:selected="${status.index == 0}"/>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label>Hide</label><br>
                    <input type="checkbox" id="add-reaction-secure-input"><br>
                </div><br>
                <input type="submit" value="Create Reaction">
            </form>
        </div>
    </div>

    <!-- alerts -->
    <div th:fragment="alerts">
        <h2>Alerts</h2>
        <table id="alert-table" class="alert data-table">
            <thead><tr>
                <th>Keyword</th>
                <th>Alert Description</th>
                <th th:if="${privileged}">Trigger</th>
                <th th:if="${privileged}">Delete</th>
            </tr></thead>
            <th:block th:each="alert : ${botHome.alertGenerators}">
                <tr th:id="'alert-' + ${alert.id} + '-row'">
                    <td>
                        <span th:text="${alert.alertToken}"/>
                    </td>
                    <td th:text="${alert.description}"/>
                    <td th:if="${privileged}" class="pseudo-link" th:attr="data-alert-token=${alert.alertToken}"
                        th:onclick="'triggerAlert(event, ' + ${botHome.id} + ',' + ${alert.id} + ')'">
                        &#x1F6CE;&#xFE0F;
                        <span th:id="'trigger-' + ${alert.id} + '-alert-response'"></span>
                    </td>
                    <td th:if="${privileged}" class="pseudo-link"
                        th:onclick="'deleteAlert(' + ${botHome.id} + ',' + ${alert.id} + ')'">
                        &#x1F5D1;&#xFE0F;
                    </td>
                </tr>
            </th:block>
        </table>
        <div th:if="${privileged}" class="add-alert">
            <div id="add-alert-button" class="pseudo-link add-button" onclick="showAddAlertForm()"
                 title="Add an alert">+</div>
            <form id="add-alert-form" class="add-form hidden"
                  th:onsubmit="'addAlert(' + ${botHome.id} + '); return false;'">
                <div id="add-alert-type-div">
                    <label>Alert Type</label><br>
                    <select id="add-alert-type-input" onchange="changeAddAlertType(this)">
                        <option th:value="1" selected>Continual</option>
                        <option th:value="2">Daily</option>
                    </select>
                </div>
                <div id="add-alert-time-div">
                    <label id="add-alert-time-label">Time</label><br>
                    <input type="time" id="add-alert-time-input"><br>
                </div>
                <div id="add-alert-duration-div">
                    <label id="add-alert-duration-label">Time</label><br>
                    <input type="number" id="add-alert-duration-input"><br>
                </div>
                <br>
                <div id="add-alert-keyword-div">
                    <label id="add-alert-keyword-label">Keyword</label><br>
                    <input type="text" id="add-alert-keyword-input" class="name"><br>
                </div><br>
                <input type="submit" value="Create Alert">
            </form>
        </div>
    </div>

    <!-- storage values -->
    <div th:fragment="storage_values">
        <h2>Storage Values</h2>
        <table class="data-table">
            <thead><tr>
                <th>Name</th>
                <th>Type</th>
                <th>Value</th>
            </tr></thead>
            <th:block th:each="value : ${botHome.storageTable}">
                <tr>
                    <td th:text="${value.name}"/>
                    <td th:text="${value.typeName}"/>
                    <td th:text="${value.value}"/>
                </tr>
            </th:block>
        </table>
    </div>

    <!-- books -->
    <div th:fragment="books">
        <h2>Books</h2>
        <ul id="book-list">
            <th:block th:each="book : ${botHome.bookTable}">
                <li><a th:href="'book/' + ${book.name}" th:text="${book.name}"/></li>
            </th:block>
        </ul>
        <div th:if="${privileged}" class="add-book">
            <div id="add-book-button" class="pseudo-link add-button" onclick="showAddBookForm()"
                 title="Add a book">+</div>
            <form id="add-book-form" class="add-form hidden"
                  th:onsubmit="'addBook(' + ${botHome.id} + '); return false;'">
                <div id="add-book-name-div">
                    <label>Name</label><br>
                    <input type="text" id="add-book-name-input" class="name"><br>
                </div><br>
                <div id="add-book-statement-div">
                    <label>First Statement</label><br>
                    <input type="text" id="add-book-statement-input"><br>
                </div><br>
                <input type="submit" value="Create Book">
            </form>
        </div>
    </div>

    <!-- time zone -->
    <div th:fragment="time_zone">
        Time Zone
        <select th:onchange="'updateTimeZone(event, ' + ${botHome.id} + ', \'time-zone-updated\')'">
            <th:block th:each="timeZone : ${timeZones}">
                <option th:value="${timeZone.value}" th:text="${timeZone.display}"
                        th:selected="${timeZone.value == botHome.timeZone}"/>
            </th:block>
        </select> <span id="time-zone-updated" />
    </div>

    <!-- bot name -->
    <div th:fragment="bot_name">
        <td th:if="${exalted}">
            <div id="bot-name-display">
                Bot Name: <span th:text="${botHome.botName}" id="bot-name-value"/>
                <span class="pseudo-link" onclick="editBotName()">&#x270F;&#xFE0F;</span>
            </div>
            <div id="bot-name-edit" class="hidden">
                Bot Name: <input type="text" th:id="bot-name-input"
                       th:value="${botHome.botName}" th:size="${botHome.botName.length() + 10}"/>
                <span class="pseudo-link" th:onclick="'modifyBotName(' + ${botHome.id} + ')'">&#x1F4BE;</span>
            </div>
        </td>
        <td th:if="${!exalted}" th:text="'Bot Name: ' + ${botHome.botName}"/>
    </div>
</body>
</html>
