<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bot home</title>
    <div th:include="fragments :: includes" />
</head>
<body th:with="privledged=${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}">
    <div th:include="fragments :: header" />
    <div class="content">
        <h1 th:text="${botHome.name} + ' Home'" />
        <ul>
            <li th:text="'Id ' + ${botHome.id}"></li>
            <li th:if="${!privledged}" th:text="'Time Zone: ' + ${botHome.timeZone}"></li>
            <li th:if="${privledged}">Time Zone
                <select th:onchange="'updateTimeZone(event, ' + ${botHome.id} + ', \'time-zone-updated\')'">
                    <th:block th:each="timeZone : ${timeZones}">
                        <option th:value="${timeZone.value}" th:text="${timeZone.display}"
                                th:selected="${timeZone.value == botHome.timeZone}"/>
                    </th:block>
                </select> <span id="time-zone-updated" />
            </li>
        </ul>
        <h2>Services</h2>
        <table>
            <thead><tr>
                <th>Service</th>
                <th>Details</th>
            </tr></thead>
            <th:block th:each="serviceHomeEntry : ${botHome.serviceHomes}">
                <tr>
                    <td th:text="${serviceHomeEntry.value.service.name}"/>
                    <td th:text="${serviceHomeEntry.value.description}"/>
                </tr>
            </th:block>
        </table>
        <h2>Commands</h2>
        <table>
            <thead><tr>
                <th>Key</th>
                <th>Command description</th>
                <th th:if="${privledged}">Secure</th>
                <th>Permissions</th>
            </tr></thead>
            <th:block th:each="commandEntry : ${botHome.commandTable.commandList}"
                      th:with="command=${commandEntry.value},alias=${commandEntry.key}" >
                <tr th:if="${!command.secure || privledged}" th:with="label=${'command-' + command.id}"
                    th:classappend="${(command.secure ? 'secure ' : ' ') + label + '-row'}">
                    <td th:text="${alias}"/>
                    <td th:text="${command.name}"/>

                    <td th:if="${privledged}"
                        th:attr="data-label=${label}" class="pseudo-link"
                        th:onclick="'secureCommand(event, ' + ${botHome.id} + ', ' + ${command.id} + ')'">
                        <span th:class="${label} + '-secured'"
                              th:text="${command.secure ? '&#x1F512;' : '&#x1F511;'}"/>
                        <span th:class="${label} + '-response'"/>
                    </td>

                    <td th:if="${!privledged}" th:text="${command.permission}"></td>
                    <td th:if="${privledged}">
                        <select th:attr="data-label=${label} + '-permission-updated'"
                                th:onchange="'updateCommandPermission(event, ' + ${botHome.id} + ', ' + ${command.id} + ')'">
                            <th:block th:each="permission : ${permissions}">
                                <option th:value="${permission}" th:text="${permission}"
                                        th:selected="${permission == command.permission}"/>
                            </th:block>
                        </select>
                        <span th:id="${label}+ '-permission-updated'"/>
                    </td>
                </tr>
            </th:block>
        </table>
        <h2>Reactions</h2>
        <table>
            <thead><tr>
                <th>Emoji</th>
                <th>Reaction Trigger Words</th>
                <th th:if="${privledged}">Secure</th>
            </tr></thead>
            <th:block th:each="reaction : ${botHome.reactionTable.reactions}">
                <tr th:if="${!reaction.secure || privledged}" th:with="label=${'reaction-' + reaction.id}"
                    th:classappend="${(reaction.secure ? 'secure ' : ' ') + label + '-row'}">
                    <td th:text="${reaction.emoteName}"/>
                    <td>
                        <th:block th:each="pattern : ${reaction.patterns}">
                            <span th:text="${pattern}" />
                        </th:block>
                    </td>

                    <td th:if="${privledged}" th:attr="data-label=${label}" class="pseudo-link"
                        th:onclick="'secureReaction(event, ' + ${botHome.id} + ', ' + ${reaction.id} + ')'">
                        <span th:class="${label} + '-secured'"
                              th:text="${reaction.secure ? '&#x1F512;' : '&#x1F511;'}"/>
                        <span th:class="${label} + '-response'"/>
                    </td>
                </tr>
            </th:block>
        </table>
        <h2>Alerts</h2>
        <table>
            <thead><tr>
                <th>Keyword</th>
                <th>Alert Description</th>
            </tr></thead>
            <th:block th:each="alert : ${botHome.alertGenerators}">
                <tr>
                    <td th:text="${alert.alertToken}"/>
                    <td th:text="${alert.description}"/>
                </tr>
            </th:block>
        </table>
    </div>
    <div th:include="fragments :: footer" />
</body>
</html>
