<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>
<body>
    <!-- header -->
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <div class="container">
            <div class="navbar">
                <ul>
                    <li><div class="navitem" th:classappend="${page == 'index' ? 'active' : ''}">
                        <a href="#" th:href="@{/}"><img src="/images/moosers.png" height="28" width="32"></a>
                    </div></li>

                    <li><div class="navitem" th:if="${botHome} != null" th:classappend="${page == 'home' ? 'active' : ''}">
                        <a href="#" th:href="@{/1}" th:text="${botHome.name}"></a>
                        <span th:text="${page}"></span>
                    </div></li>

                    <li class="right" th:if="${!user.authenticated}"><div class="navitem twitch">
                        <a th:href="@{/oauth2/authorization/twitch}">
                            <img src="/images/glitch.png" height="28" width="32">
                        </a>
                    </div></li>

                    <li class="right" th:if="${user.authenticated}"><div class="navitem">
                        <a href="/logout" th:href="@{#}" onclick="logout('logout-form')">
                            Logout
                        </a>
                        <form style="visibility: hidden" id="logout-form" method="post" action="#" th:action="@{/logout}"></form>
                    </div></li>


                    <li class="right" th:if="${user.authenticated}"><div class="navitem">
                        <span th:text="${user.name}" th:classappend="${user.admin ? 'admin' : ''}"></span>
                    </div></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:fragment="footer">
        <hr>
        &copy; 2019 ServoBot &trade;
    </div>

    <!-- includes -->
    <div th:fragment="includes">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="/style/main.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/script/main.js"></script>
        <link rel="shortcut icon" href="images/favicon.ico"/>
    </div>
</body>
</html>
