<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ServoBot</title>
        <div th:replace="fragments :: includes"/>
    </head>
    <body>
        <div th:include="fragments :: header"/>
        <div class="content">
            <div th:if="${!user.aStreamer}">
                <h1>Add Servobot to Your Channel</h1>
                <p class="indented">Servobot is now in beta, so anyone can add it to their Twitch channel.
                    Some features, such as the giveaways, are still experimental.</p>
                <p th:if="${user.authenticated}" class="indented">To add the bot to your channel, fill out the form
                    <a href="/home">here</a>.</p>
                <p th:if="${!user.authenticated}" class="indented">To add the bot to your channel, you must first
                    <a th:href="@{/oauth2/authorization/twitch}">log in</a> with Twitch.</p>
            </div>
            <h1>Features</h1>
            <ul>
                <li>Discord & Twitch integration</li>
                <li>Custom commands</li>
                <li>Automatic chat alerts</li>
                <li>Runs giveaways</li>
                <li>Discord queue for Among Us</li>
                <li>Special features available upon request</li>
            </ul>

            <h2>Documentation</h2>
            <ul>
                <li>Full <a href="/help">Documentation</a></li>
                <li>Quick Start <a href="/help/quick_start">Guide</a></li>
                <li th:if="${user.admin}">Streaming <a href="/help/streaming">Guide</a></li>
            </ul>

            <th:block th:each="bot : ${bots}">
                <hr>
                <div class="content">
                    <h1 th:text="${bot.name}"/>
                    <th:block th:each="home : ${bot.homes}" th:with="url='/home/' + ${bot.name} + '/' + ${home.name}">
                        <span th:if="${home.imageUrl != null}">
                            <a href="${url}"><img class="user-image" th:src="${home.imageUrl}"></a>
                        </span>
                        <a th:href="${url}" th:text="${home.name}"></a><br>
                    </th:block>
                </div>
            </th:block>
        </div>
        <div th:include="fragments :: footer"/>
    </body>
</html>
