<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${bot.name}" />
        <div th:include="fragments :: includes"/>
    </head>
    <body>
        <div th:include="fragments :: header"/>
        <div class="content">
            <h1 th:text="${bot.name}"/>
            <th:block th:each="home : ${bot.homes}">
                Documentation for <a th:href="'/home/' + ${home.name}" th:text="${home.name}"></a>
            </th:block>
        </div>
        <hr>
        <div class="content">
            <h1>ServoBot Features</h1>
            <ul>
                <li>Discord & Twitch integration</li>
                <li>Custom commands</li>
                <li>Alerts</li>
                <li>Giveaway support</li>
                <li>Queue for challenging viewers on Arena</li>
                <li>Help is available in <a href="https://discordapp.com/invite/w7uJW67">Discord</a></li>
            </ul>
            <div th:if="${!user.authenticated}">
                To have the bot join your channel, you must have a special invite and <a th:href="@{/oauth2/authorization/twitch}">log in</a>.
            </div>
        </div>
        <div th:include="fragments :: footer"/>
    </body>
</html>
