<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ServoBot</title>
        <div th:include="fragments :: includes"/>
    </head>
    <body>
        <div th:include="fragments :: header"/>
        <th:block th:each="bot : ${bots}">
            <div class="content">
                <h1 th:text="${bot.name}"/>
                <th:block th:each="home : ${bot.homes}" th:with="url='/home/' + ${home.name}">
                        <span th:if="${home.imageUrl != null}">
                            <a href="${url}"><img class="user-image" th:src="${home.imageUrl}"></a>
                        </span>
                        <a th:href="${url}" th:text="${home.name}"></a><br>
                </th:block>
            </div>
            <hr>
        </th:block>
        <div class="content">
            <h1>ServoBot Features</h1>
            <ul>
                <li>Discord & Twitch integration</li>
                <li>Custom commands</li>
                <li>Alerts</li>
                <li>Runs giveaways</li>
                <li>Queue for challenging viewers on Arena</li>
                <li>Special features available upon request</li>
            </ul>

            <h2>Documentation</h2>
            <p>Full ServoBot <a href="/help">Documentation</a></p>
            <p>Quick Start <a href="/help/quick_start">Guide</a></p>
            <p class="hidden">Streaming <a href="/help/streaming">Guide</a></p>
        </div>
        <div th:include="fragments :: footer"/>
    </body>
</html>
