<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <div th:include="fragments :: includes" />
    <script th:if="${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}"
            type="text/javascript" src="/script/privileged.js"></script>
</head>
<body th:with="privileged=${user.admin || user.roles.contains('ROLE_MOD:' + botHome.id)}">
    <div th:include="fragments :: header" />
    <div class="content">
        <div th:include="bot_home_fragments :: users (title='Users')"/>
    </div>
    <div th:include="fragments :: footer" />
</body>
</html>
