<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>
<body>
    <!-- twitchLink -->
    <a th:fragment="twitchLink (name)" th:if="${name}" target="_blank"
           th:href="'https://www.twitch.tv/' + ${name}"
           th:title="${name}"
        ><img class="icon" src="/images/twitch.ico"></a>

    <!-- twitterLink -->
    <a th:fragment="twitterLink (name)" th:if="${name}" target="_blank"
       th:href="'https://www.twitter.com/' + ${name}"
       th:title="${name}"
    ><img class="icon" src="/images/twitter.ico"></a>

    <!-- playerTable -->
    <div th:fragment="playerTable (players)">
        <table class="player-table">
            <col>
            <col>
            <col>
            <thead><tr>
                <th class="pad-horizontal">Name</th>
                <th class="pad-horizontal">Socials</th>
                <th class="pad-horizontal">Starting Points</th>
                <th class="pad-horizontal">Deck</th>
            </tr></thead>
            <tbody>
            <th:block th:each="player : ${players}">
                <tr>
                    <td th:text="${player.name}"></td>
                    <td>
                        <div th:replace="mpl/fragments :: twitchLink (name=${player.twitchName})"></div>
                        <div th:replace="mpl/fragments :: twitterLink (name=${player.twitterName})"></div>
                   </td>
                    <td class="center" th:text="${player.startPoints}"></td>
                    <td>
                        <a th:if="${player.deckLink}" th:href="${player.deckLink}" th:text="${player.deckName}"
                            target="_blank"></a>
                        <span th:if="!${player.deckLink}">Unknown</span>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <!-- matchRow -->
    <tr th:fragment="matchRow (match)">
        <td th:text="${match.player1.name}"></td>
        <td>
            <div th:replace="mpl/fragments :: twitchLink (name=${match.player1.twitchName})"></div>
            <div th:replace="mpl/fragments :: twitterLink (name=${match.player1.twitterName})"></div>
        </td>
        <td>
            <a th:if="${match.player1.deckLink}" th:href="${match.player1.deckLink}"
               th:text="${match.player1.deckName}" target="_blank"></a>
            <span th:if="!${match.player1.deckLink}">Unknown</span>
        </td>

        <td th:text="${match.player2.name}"></td>
        <td>
            <div th:replace="mpl/fragments :: twitchLink (name=${match.player2.twitchName})"></div>
            <div th:replace="mpl/fragments :: twitterLink (name=${match.player2.twitterName})"></div>
        </td>
        <td>
            <a th:if="${match.player2.deckLink}" th:href="${match.player2.deckLink}"
               th:text="${match.player2.deckName}" target="_blank"></a>
            <span th:if="!${match.player2.deckLink}">Unknown</span>
        </td>
    </tr>
</body>
</html>
