[Unit]
Description=Service to run ServoBot
After=network.target

[Service]
User=ec2-user
ExecStart=/usr/bin/java -jar /bin/servo-bot-1.0-SNAPSHOT.jar
WorkingDirectory=/var/servo-bot
Restart=on-failure

[Install]
WantedBy=multi-user.target